@font-face {
    font-family: main;
    src: url('fonte.otf');
}
h1 {
    font-family: main
}
p {
    font-family: main
}
p {text-align: center;}
.center {
    position: absolute;
    top: 40%;
    left: 49.5%;
}
.center2 {
    position: absolute;
    top: 52%;
    left: 50%;
}
.center3 {
    position: absolute;
    top: 60%;
    left: 48.5%;
}

.center4 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.center5 {
    position: absolute;
    width: 99.6%;
    text-align: center;
    font-size: 18px;
}


/* unvisited link */

a:link {
    color: rgb(218, 218, 218);
    text-decoration: none;
    font-family: main;
}


/* visited link */

a:visited {
    color: lightgray;
    text-decoration: none;
    font-family: main;
}


/* mouse over link */

a:hover {
    color: darkgray;
}
