        .link-list {
            display: flex;
            list-style-type: none;
            padding: 0;
            justify-content: center;
        }
        .link-list li {
            margin-right: 10px;
        }
body {background-color: #0f3b3a;}
@font-face {
    font-family: main;
    src: url('source.ttf');
}
h1 {
    font-family: main ;
    color: #b1c9c3 ;
}
p {
    font-family: main ;
    color: #b1c9c3 ;
}
/* unvisited link */

a:link {
    color: #b1c9c3 ;
    text-decoration: none;
    font-family: main;
}


/* visited link */

a:visited {
    color: lightgray;
    text-decoration: none;
    font-family: main;
}


/* mouse over link */

a:hover {
    color: #ffffff ;
}
